.App {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  /* border: 2px solid rgba(255, 0, 0, 0); */
}
.app_main {
  margin: auto;
  font-family: 'PT Mono', monospace;
  background: linear-gradient(to bottom right,rgb(29, 5, 243),rgb(0, 0, 0));
  border: 5px solid rgb(216, 216, 216);
  border-radius: 12px;
  position: absolute;
  width: 1000px;
  height: 800px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes temp {
  50% {box-shadow: 3px 3px 45px 20px #00ffffc2;}
}

@keyframes bgblue {
  50% {background:rgb(0, 238, 255);}
}